
#Backend
fastapi==0.115.0
uvicorn[standard]==0.32.0
pydantic==2.12.0
python-multipart==0.0.12
aiofiles==25.1.0
numpy>=1.21.0

#Agentes
langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-ollama
langchain_mcp_adapters
langgraph
langgraph-checkpoint-sqlite
chromadb
pypdf
ocrmypdf

#tts
torch==2.9.0
torchaudio==2.9.0
soundfile
transformers
datasets
librosa
bark
encodec
scipy

#INSTALAR EN EL SISTEMA OPERATIVO tesseract-ocr tesseract-ocr-spa
#Instalar npm install -g document-generator-mcp para el mcp
